* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: ;
}

.id-card-outer {
	height: 350px;
	width: 300px;
	position: relative;
	margin: 100px auto;
}

#id-card-img {
	height: 350px;
	width: 300px;
}

.id-card-info {
	height: 0;
	width: 300px;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	transition: height 1s;
	overflow: hidden;
}

h2 {
	font-family: flamenco;
	font-size: 36px;
	margin: 20px;
}

p {
	font-family: helvetica;
	font-size: 18px;
	font-weight: bold;
	color: #ddd;
	margin: 20px;
}

.id-card-outer:hover .id-card-info {
	display: block;
	height: 350px;
}